* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: blue 3px solid; */
}

body {
  font-family: Roboto;
  background-color: grey;
  color: white;
  /* overflow: hidden; */
  height: 100vh;
  width: 100%;
}
